#anniversary {
    text-align: center;
    background-color: #0000AD;
    color: white;
    height: 7000px;
    .title {
        bottom: 400px;
    }
    .score {
        z-index: 350;
        width: 10%;
        left: 45%;
    }
    .floor {
        width: 100%;
        background-repeat: repeat-x;
        background-size: contain;
        height: 20vw;
    }
    .city {
        z-index: 301;
        background-image: url("../images/gorillas.png");
    }
    .explosion-mark {
        z-index: 305;
        background-image: url("../images/gorillas-explosion0.png");
    }
    .explosion-neem {
        z-index: 305;
        background-image: url("../images/gorillas-explosion1.png");
    }
    .person {
        z-index: 500;
        width: 5vw;
    }
    .players {
        width: 100%;
        img {
            z-index: 150;
            width: 10%;
            position: absolute;
            &.p1 {
                left: 5%;
            }
            &.p2 {
                right: 5%;
            }
        }
    }
    .sun {
        left: 45%;
        width: 10%;
    }
    .banana {
        display:none;
    }
}

