#anniversary {
    text-align: center;
    background-color: #0000AD;
    color: white;
    height: 7000px;
    .title {
        bottom: 400px;
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .score {
        z-index: 350;
        width: 10%;
        left: 45%;
    }
    .floor {
        width: 100%;
        z-index: 301;
        background: url("../images/gorillas.png");
        background-size: contain;
        height: 10vw;
    }
    .person {
        z-index: 500;
        height: 10vh;
    }
    .players {
        width: 100%;
        img {
            z-index: 150;
            width: 10%;
            position: absolute;
            &.p1 {
                left: 5%;
            }
            &.p2 {
                right: 5%;
            }
        }
    }
}

