@import 'skrollable';
@import 'keyframes';
@import 'password';
@import 'nav';
@import 'welcome';
@import 'ipod';
@import 'bffs';
@import 'anniversary';
@import 'party';

body{
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.title {
    font-size: 24px;
    width: 100%;
    z-index: 500;
}

.copy-text {
    z-index: 600;
    position: fixed;
    left: 32.75%;
    width: 30%;
    .title div {
        position: relative;
        display: block;
    }
}
