@import 'skrollable';
@import 'keyframes';
@import 'password';
@import 'nav';
@import 'welcome';
@import 'ipod';
@import 'bffs';
@import 'party';

body{
    color: black;
    font-family: 'Press Start 2P', cursive;
}
