.skrollable {
    position:fixed;
    z-index:100;
}
.skrollr-mobile .skrollable {
    position:absolute;
}
.skrollable .skrollable {
    position:absolute;
}

.skrollable .skrollable .skrollable {
    position:static;
}

#welcome {
    background-color: rgb(100,176,255);
    height: 100%;
    .scroll-down {
        top: 300px;
        left: 49%;
        .vertical-line {
            top: 0px;
            left: 50%;
            height: 259px;
            border-left: 1px dotted #808285;
            position:absolute;
        }
        label {
            bottom: -65px;
            height: 47px;
            padding-top: 26px;
        }
        i {
            padding-top: 250px;
        }
        i, label {
            color: #808285;
            display: block;
            text-align: center;
            text-transform: uppercase;
            vertical-align: bottom;
            white-space: nowrap;
        }
    }
    .date {
        left:49%;
        margin-left: -2em;
        font-weight: 100;
    }
    .heart {
        width: 5%;
        left: 47.5%;
        bottom: 200px;
        z-index: 200;
    }
    .neem, .marcus {
        width: 10%;
    }
    .duck-hunt {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 300;
    }
}
