#bffs {
    text-align: center;
    background-color: #f8f890;
    height: 10000px;
    .title {
        bottom: 400px;
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .floor {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 301;
        background: url("../images/zelda-beach.png");
        background-size: contain;
        height: 10vw;
    }

    .states {
        width: 100%;
        .state {
            position: absolute;
            height: 15vh;
        }
    }
}
