#bffs {
    text-align: center;
    background-color: #f8f890;
    height: 10000px;
    .title {
        bottom: 400px;
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .floor {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 301;
        background: url("../images/zelda-beach.png");
        background-size: contain;
        height: 10vw;
    }

    .state {
        height: 15vh;
        z-index: 400;
    }
    .state.mo {
        left: 50%;
        margin-left: -9.135vh;
    }
    .home-states {
        width: 100%;
        .state {
            position: absolute;
        }
    }
    .person {
        z-index: 500;
        height: 10vh;
    }
}
