#bffs {
    text-align: center;
    background-color: #f8f890;
    height: 9000px;
    .title {
        bottom: 400px;
    }
    .floor {
        bottom: 0;
        width: 100%;
        z-index: 301;
        background: url("../images/zelda-beach.png");
        background-size: contain;
        height: 10vw;
    }
    .trees {
        width: 100%;
        z-index: 301;
        background: url("../images/beach-trees.png");
        background-size: contain;
        height: 10vw;
    }

    .state {
        height: 15vh;
    }
    .state.mo {
        left: 50%;
        margin-left: -9.135vh;
    }
    .home-states {
        width: 100%;
        .state {
            position: absolute;
        }
    }
    .person {
        z-index: 500;
        height: 10vh;
    }
}
