header {
    position:fixed;
    z-index:50;
    background-color:#691BB8;
    width:100%;
    top:0;
    font-family: 'Press Start 2P', cursive;

    a {
        text-decoration: none;
        background-color: transparent;
        color: white;
        &:hover {
            color: white;
        }
        &:focus {
            outline: none;
            color: white;
        }
    }

    h1 {
        font-family: inherit;
        font-weight: 400;
        line-height: 1.1;
        margin-bottom: 10px;
        margin-top: 20px;
        display: inline-block;
        color: white;
        font-size: 24px;
        padding-left: 16px;

    }

    .nav-toggle {
        float: right;
        margin-top: 8px;
        margin-right: 16px;
        margin-bottom: 10px;
        font-size: 24px;
    }

    .menu {
        display: inline-block;
        margin-top: 20px;
        float: right;
        text-align: right;
        > li {
            width: auto;
            list-style: none;
            padding-right: 16px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 40em) {
    header {
        h1 {
            font-size: 16px;
        }
        .menu {
            width: 100%;

            a {
                width: 100%;
                display: block;
            }

            > li {
                background-color: #AA40FF;
                display: block;
                float: left;
                width: 100%;
                text-align: center;
                margin-bottom: 4px;
                padding: 4px 0px 4px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
}
