header {
    position:fixed;
    z-index:50;
    background-color:white;
    width:100%;
    top:0;
    font-family: 'Press Start 2P', cursive;

    a {
        color: black;
        &:hover {
            color: black;
        }
        &:focus {
            outline: none;
            color: black;
        }
    }

    h1 {
        display: inline-block;
        color: black;
        font-size: 24px;
        padding-left: 16px;

    }

    .nav-toggle {
        float: right;
        margin-top: 8px;
        margin-right: 16px;
        font-size: 24px;
    }

    .menu {
        display: inline-block;
        margin-top: 20px;
        float: right;
        text-align: right;
        > li {
            width: auto;
            list-style: none;
            padding-right: 16px;
            display: inline-block;
        }
    }
}

@media screen and (max-width: 40em) {
    header {
        h1 {
            font-size: 16px;
        }
        .menu {
            width: 100%;
            > li {
                margin-right: 0;
                display: block;
                float: left;
                width: 100%;
                text-align: center;
            }
        }
    }
}
