@keyframes blink {
    to {
        visibility: hidden;
    }
}

@keyframes cloud {
    0% {
        opacity: 0;
        transform: translateX(88vw);
    }
    1%, 90% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(0vw);
    }
}
