* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    background-color: #57169A;
    color: white;
    font-family: sans-serif;
}

.skrollr-desktop body {
    height:100% !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
    height:50%;
    top:-50%;
    &.right {
        >div {
            left: 50%;
        }
    }
    > div {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:200%;
        top:-50%;
        width:50%;
        &.skrollable-between {
            display:inline-block;
        }
    }
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

#skrollr-body {
    height: 100%;
    overflow: visible;
    position: relative;
}

.content {
    height: 50%;
    width: 50%;
    &.right {
        margin-left: 50%;
    }
    &.mobile {
        display: none;
    }
}

.photo {
    text-align: center;
    height: 0px;
    box-sizing:border-box;
}


.photo-full {
    height: 100%;
    margin-top: 50px;
}

.container {
    height: calc(100% - 60px);
    background-color: rgba(120, 0, 0, 0.7);
    padding: 50px 10px 10px;
    font-size: 24px;
    a {
        font-weight: 600;
        color: white;
        &:focus {
            color: white;
        }
    }
    .title {
        font-family: 'Press Start 2P', cursive;
        font-size: 18px;
        padding-bottom: 4px;
    }
    .sub-title {
        font-family: 'Press Start 2P', cursive;
        font-size: 16px;
        padding-bottom: 4px;
    }

    .description,.hotel {
        margin-top: 8px;
    }

    .hotel {
        @extend .centered;
    }

    .pane-container {
        display: flex;
        margin-top: 16px;
        .half-pane,.thirdpane {
            display: inline-block;
        }
        .half-pane {
            width: 50%;
        }
        .third-pane {
            width: 33.33%;
            .title {
                margin-bottom: 8px;
            }
        }
    }

    img.full-sized {
        max-width: 100%;
        max-height: 50%;
        padding: 4px;
    }

    li {
        list-style: none;
    }

    .centered {
        text-align: center;
    }
}

#done {
    margin-top:30%;
    text-align:center;
    padding-bottom: 8px;
}


@media screen and (max-width: 1550px) {
    .container {
        font-size: 18px;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        font-size: 16px;
        .title {
            font-size: 14px;
            padding-bottom: 4px;
        }
        .sub-title {
            font-size: 12px;
            padding-bottom: 4px;
        }
        .third-pane {
            font-size: 12px;
        }
    }
}

@media screen and (max-width: 630px) {
    .content {
        height: 100%;
        width: 100%;
        &.right {
            margin-left: 0;
        }
    }
    .container {
        position: relative;
        top: 80%;
        height: auto;
    }
    .parallax-image-wrapper {
        > div {
            width: 100%;
        }
        &.right > div {
            left: 0;
        }
    }
}
.skrollr-mobile {
    .hide-on-mobile {
        display:none !important;
    }
}
