#menu {
    top: 40%;
    left: 40px;
    z-index: 1500;

    a {
        color: inherit;
        opacity: 0.5;
        font-size: 14px;
        text-transform: uppercase;
        display: block;

        &:hover, &:focus {
            opacity: 0.9;
            color: black;
            text-decoration: none;
            outline: none;
        }
        * {
            position: relative;
        }
        i {
            padding-right: 4px;
        }
    }
}
