#our-story {
    text-align: center;
    background-color: rgb(128,128,255);
    height: calc(3000px + 100vh);
    .title {
        bottom: 400px;
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .ipod {
        z-index: 500;
    }
    .floor {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 300;
        background: url("../images/mario-brick.png");
        background-repeat: repeat;
        height: 10vw;
    }
    .neem, .marcus {
        width: 10%;
        bottom: 10vw;
    }
}
