#our-story {
    text-align: center;
    background-color: rgb(128,128,255);
    height: calc(7000px);
    .title {
        bottom: 400px;
        text-align: center;
        font-size: 24px;
        width: 100%;
    }
    .ipod {
        z-index: 500;
    }
    .floor {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 300;
        background: url("../images/mario-brick.png");
        background-repeat: repeat;
        height: 10vw;
    }
    .neem, .marcus {
        bottom: 10vw;
    }
    .neem {
        width: 10%;
    }
    .marcus {
        width: 14.5%;
    }
    .notes {
        position: fixed;
        &.notes-neem {
            left: 31%;
            bottom: 26vw;
        }
        &.notes-marcus {
            left: 66.5%;
            bottom: 33vw;
        }
        .note {
            background-image: url("../images/note.png");
            background-size: cover;
            position: fixed;
            display: block;
            animation: 2s ease-in 0s normal none infinite running music;
            width: 1vw;
            height: 1.25vw;
            &:nth-child(1) {
                animation-delay: 0s;
            }
            &:nth-child(2) {
                animation-delay: 1.2s;
            }
        }
    }
    .cloud {
        width: 10vw;
        left: 0;
        position: fixed;
        animation: 18s ease 0s normal none infinite running cloud;
    }
}
