* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
}

.skrollr-desktop body {
    height:100% !important;
}

body {
    font-family:sans-serif;
}

p {
    margin:1em 0;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
    height:50%;
    top:-50%;
    &.right {
        >div {
            left: 50%;
        }
    }
    > div {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:200%;
        top:-50%;
        width:50%;
        &.skrollable-between {
            display:inline-block;
        }
    }
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

#skrollr-body {
    height:100%;
    overflow:visible;
    position:relative;
}

.gap {
    background:transparent center no-repeat;
    background-size:cover;
    height:50%;
    width:50%;
    &.right {
        margin-left: 50%;
    }
}

.skrollr .gap {
    background:transparent !important;
}


.content {
    background:#fff;
    padding:1em;
    box-sizing:border-box;
    font-size:24px;
    margin-top:48px;
    &.right {
        margin-left: 50%;
    }
}


.content-full {
    height:100%;
}

#done {
    margin-top:50%;
    text-align:center;
}

@media screen and (max-width: 40em) {
    .gap {
        width: 100%;

        &.right {
            margin-left: 0;
        }
    }
    .content.right {
        margin-left: 0;
    }
    .parallax-image-wrapper {
        > div {
            width: 100%;
        }
        &.right > div {
            left: 0;
        }
    }
}
