* {
    padding:0;
    margin:0;
}

html, body {
    height:100%;
    background-color: #57169A;
    color: white;
}

.skrollr-desktop body {
    height:100% !important;
}

.parallax-image-wrapper {
    position:fixed;
    left:0;
    width:100%;
    overflow:hidden;
    height:50%;
    top:-50%;
    &.right {
        >div {
            left: 50%;
        }
    }
    > div {
        display:none;
        position:absolute;
        bottom:0;
        left:0;
        background-repeat:no-repeat;
        background-position:center;
        background-size:cover;
        height:200%;
        top:-50%;
        width:50%;
        &.skrollable-between {
            display:inline-block;
        }
    }
}

.no-skrollr .parallax-image-wrapper {
    display:none !important;
}

#skrollr-body {
    height: 100%;
    overflow: visible;
    position: relative;
}

.content {
    height: 50%;
    width: 50%;
    &.right {
        margin-left: 50%;
    }
    &.mobile {
        display: none;
    }
}

.photo {
    height: 0px;
    box-sizing:border-box;
    font-size:24px;
}


.photo-full {
    height: 100%;
}

.container {
    height: calc(100% - 60px);
    background-color: rgba(120, 0, 0, 0.7);
    padding: 50px 10px 10px;
    .name {
        font-family: 'Press Start 2P', cursive;
        font-size: 14px;
        padding-bottom: 4px;
    }
}

#done {
    margin-top:30%;
    text-align:center;
}

@media screen and (max-width: 40em) {
    .content {
        height: 100%;
        width: 100%;
        &.right {
            margin-left: 0;
        }
    }
    .container {
        position: relative;
        top: 80%;
        height: auto;
    }
    .parallax-image-wrapper {
        > div {
            width: 100%;
        }
        &.right > div {
            left: 0;
        }
    }

    .hide-on-mobile {
        display:none !important;
    }
}
