#end {
    text-align: center;
    background-color: #ccc;
    height: calc(0px);
    .neem, .marcus {
        bottom: 10vw;
        z-index: 400;
    }
    .neem {
        width: 10%;
    }
    .neem-arm {
        z-index: 350;
        width: 10%;
    }
    .marcus {
        width: 14.5%;
    }
}
