#password {
    background-color: black;
    width: 100%;
    height: 100%;
    color: white;
    font-family: 'Press Start 2P', cursive;
    text-align: center;

    #password-display {
        padding-top: 200px;
        padding-bottom: 24px;

        h1 {
            font-size: 24px;
            color: white;
            padding-left: 4px;
            padding-right: 4px;
            margin-left: 24px;
            margin-right: 24px;
            position: relative;
            background: black;
            top: -35px;
        }
        >span {
            border: 4px solid white;
            display: inline-block;
        }
        label {
            margin-bottom: 8px;
            text-transform: uppercase;
            font-size: 24px;
            &:first-of-type {
                margin-left: 12px;
            }
            &:last-of-type {
                margin-right: 12px;
            }
        }

    }

    #password-entry {
        border: 4px solid white;
        display: inline-block;
        table {
            padding: 16px;
            display: inline-block;
            td {
                font-size: 24px;
                cursor: pointer;
                padding: 4px;
                text-transform: uppercase;
                display: inline-block;
                &:hover {
                    color: black;
                    background: white;
                }
            }
        }
    }
}
