#stl {
    text-align: center;
    background-color: white;
    color: black;
    height: 6301px;
    .title {
        bottom: 400px;
    }
    .abom {
        width: 10vw;
        bottom: 0vw;
        left: 45vw;
    }
    .snow-humps {
        width: 10vw;
        right: 85%;
    }
    .stick-tree {
        width: 4vw;
    }
    .tree {
        width: 6vw;
    }
    .tall-tree {
        width: 5vw;
    }
    .lift {
        width: 3vw;
    }
    .rock {
        width: 3vw;
    }
    .stump {
        width: 2.5vw;
    }
    .tardis {
        width: 5vw;
        z-index: 600;
    }
    .skiier {
        width: 4.25vw;
        left: 55vw;
        z-index: 505;
    }
}
@media (max-width: 1000px) {
    #stl {
        .copy-text.final {
            bottom: auto;
            top: 10vh;
            text-align: center;
        }
    }
}
