#stl {
    text-align: center;
    background-color: white;
    color: black;
    height: 7000px;
    .title {
        bottom: 400px;
    }
    .abom {
        width: 10vw;
        bottom: 0vw;
        left: 45vw;
    }
    .snow-humps {
        width: 10vw;
        right: 85%;
    }
    .stick-tree {
        width: 4vw;
    }
    .tree {
        width: 6vw;
    }
    .tall-tree {
        width: 5vw;
    }
    .lift {
        width: 3vw;
    }
    .rock {
        width: 3vw;
    }
    .stump {
        width: 2.5vw;
    }
    .skiier {
        width: 4.25vw;
        left: 55vw;
        z-index: 505;
    }
    .arch {
        text-align: center;
        max-width: 1000px;
        margin-left: -500px;
        z-index: 401;
    }
    .person {
        z-index: 500;
        width: 5vw;
    }
    .doorway {
        text-align: center;
        max-width: 1000px;
        margin-left: -500px;
        z-index: 400;
    }
}

@media (max-width: 1000px) {
    #stl {
        .arch {
            margin-left: 0px;
            left: 0;
            width: 100%;
        }
        .doorway {
            margin-left: 0px;
            left: 0;
            width: 100%;
        }
    }
}
