#stl {
    text-align: center;
    background-color: white;
    color: black;
    height: 7000px;
    .title {
        bottom: 400px;
    }
    .abom {
        width: 10vw;
        bottom: 0vw;
        left: 45vw;
    }
    .snow-humps {
        width: 10vw;
        right: 85%;
    }
    .stick-tree {
        width: 4vw;
    }
    .tree {
        width: 6vw;
    }
    .tall-tree {
        width: 5vw;
    }
    .lift {
        width: 3vw;
    }
    .rock {
        width: 3vw;
    }
    .skiier {
        width: 4.25vw;
        left: 55vw;
        z-index: 505;
    }
    .person {
        z-index: 500;
        width: 5vw;
    }
}
