@import 'skrollable';
@import 'keyframes';
@import 'nav';
@import 'welcome';
@import 'ipod';
@import 'bffs';
@import 'anniversary';
@import 'stl';
@import 'arch';

body{
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.title {
    font-size: 24px;
    width: 100%;
    z-index: 500;
}

.copy-text {
    z-index: 600;
    position: fixed;
    left: 35%;
    width: 30%;
    .title div {
        position: relative;
        display: block;
    }
}
.writing-neem {
    color: red;
    overflow: hidden;
}
.scratched > svg {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    pointer-events: none;
    position: absolute;
    z-index: 500;
    path {
        fill: none;
        stroke: red;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke-width: 13px;
    }
}

#audio {
    position: fixed;
    top: 1vh;
    right: 1vw;
    opacity: 0.7;
    cursor: pointer;
    border-radius: 6px;
    &:hover {
        opacity: 1;
        background-color: rgba(255,255,255,0.7);
    }
}
