#welcome {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(100,176,255);
    height: calc(3000px + 100vh);
    color: black;
    .scroll-down {
        top: 300px;
        left: 49%;
        .vertical-line {
            top: 0px;
            left: 50%;
            height: 259px;
            border-left: 1px dotted black;
            position:absolute;
        }
        label {
            bottom: -65px;
            height: 47px;
            padding-top: 26px;
            animation: blink 1s steps(5, start) infinite;
        }
        i {
            padding-top: 250px;
        }
        i, label {
            display: block;
            text-align: center;
            text-transform: uppercase;
            vertical-align: bottom;
            white-space: nowrap;
        }
    }
    .date {
        width: 100%;
        text-align: center;
        label {
            font-weight: 100;
        }
    }
    .heart {
        width: 5%;
        left: 47.5%;
        bottom: 250px;
        z-index: 200;
    }
    .neem, .marcus {
        width: 10%;
    }
    .floor {
        position:fixed;
        bottom:0;
        width: 100%;
        z-index: 300;
    }
}
